{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{% block title %}MeetMed - Panel użytkownika{% endblock %}</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/922a5fe6ec.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- SLICK.JS -->
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />

<!-- FULLCALLENDAR.JS(fullcalendar.io)
<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css" /> -->

<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/main.css' %}" />
<script src="{% static 'fullcalendar/main.js' %}"></script>


<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/doctorcalendar.css' %}">

{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-info" id="navbar">
    <a class="navbar-brand" href="/"><i class="fas fa-user-md"></i>MeetMed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-link" href="userpanel">Panel główny</a>
            {% load hasgroup %}
            {% if request.user|has_group:"Doctor" %} 
                <a class="nav-link" href="doctortoday">Dzisiejszy dzień</a>
                <a class="nav-link cur" href="doctorcalendar">Kalendarz</a>
                <a class="nav-link" href="doctorpanel">Panel lekarza</a>
            {% endif %}
            <a class="nav-link" href="settings">Ustawienia konta</a>
            <a href="{% url 'logout' %}"><button class="btn btn-light my-2 my-sm-0">Wyloguj się</button></a>
        </div>
    </div>
</nav>
<main>
    <div class="wrapper">
        <div id='calendar'></div>
    </div>
    <div class="popup-add-background">
        <div class="popup-add center">
            <div class="title">
                <p><i class="fas fa-calendar-plus"></i>Dodawanie wizyty</p>
            </div>
            <hr>
            <div class="description-add">
                <form action="doctorcalendar" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Tytuł</label>
                        <div class="col-8">
                            {{ form.title }}
                            <!-- <input class="form-control" type="text" name="title"> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-4 col-form-label">Data</label>
                        <div class="col-8">
                            {{ form.start_date }}
                            <!-- <input class="form-control" type="date" name="date"> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-time-input" class="col-4 col-form-label">Godzina rozpoczęcia</label>
                        <div class="col-8">
                            {{ form.start_hour }}
                            <!-- <input class="form-control" type="time" name="start_hour"> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-time-input" class="col-4 col-form-label">Godzina zakończenia</label>
                        <div class="col-8">
                            {{ form.end_hour }}
                            <!-- <input class="form-control" type="time" name="end_hour"> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-time-input" class="col-4 col-form-label">Pacjent</label>
                        <div class="col-8">
                            {{ form.patient }}
                            <!-- <input class="form-control" type="time" name="end_hour"> -->
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" id="close-add">Zamknij</button>
                        <button class="button add-button" id="submit-add" name ="button-add">Dodaj</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <div id="popup-remove-background"></div>
    <div id="popup-properties-background"></div>
    <div class="popup-remove center">
        <div class="title">
            <p><i class="fas fa-calendar-minus"></i>Usuwanie wizyty</p>
        </div>
        <hr>
        <div class="description-remove">
            <form action="doctorcalendar" method="post">
                {% csrf_token %}
                <div class="form-row align-items-center">
                    <div class="col my-1">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="selectappointments">
                        <option selected>Wybierz wizytę do usunięcia</option>
                        {% for appointment in appointments %} 
                            {% if user.username == appointment.doctor.username %}
                                <option value="{{ appointment.id }}">Wizyta: {{ appointment.id }} | Data: {{ appointment.start_date|date:'d.m  G:i'}} - {{ appointment.end_date|date:'G:i'}}</option>
                            {% endif %} 
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" id="close-remove">Zamknij</button>
                    <button class="button remove-button" id="submit-remove" name="button-remove">Usuń</button>
                </div>
            </form>
        </div>
    </div>

    <!-- POPUP PROPERTIES OF APPOINTMENT -->
    <div class="properties">
        {% for appointment in appointments %}
            {% if user.username == appointment.doctor.username %}
                <div class="popup-properties center" id="popup-appointment-{{ appointment.id }}">
                    <div class="title">
                        <p><i class="fas fa-calendar-alt"></i>Podgląd wizyty</p>
                    </div>
                    <hr>
                    <div class="description-properties">                        
                        <h1>{{ appointment.title }}</h1>
                        <p><span>Opis:</span> {{ appointment.description }}</p>
                        <p><span>Pacjent:</span> {% if appointment.patient != None %} {{ appointment.patient }} {% else %} Brak {% endif %}</p>
                        <p><span>Data:</span> {{ appointment.start_date|date:'d.m.Y' }}</p>
                        <p><span>Godzina:</span> {{ appointment.start_date|date:'H:i' }} - {{ appointment.end_date|date:'H:i' }}</p>
                    </div>
                    <div class="buttons">
                        <button class="close-properties" id="close-properties-{{ appointment.id }}" onclick="closeProperties(this, {{ appointment.id }})">Zamknij</button>
                        <button type="submit" class="done-properties" id="button:{{ appointment.id }}" onclick="deleteAppointment(this.id)">Usuń</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
</main>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
</script>

<!-- ANIMATE.CSS -->
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min' %}"></script>

<script src="{% static 'slick/slick.min.js' %}"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery-ui.min.js'></script> -->

<script>
    function showProperties(info, appid) {
        document.getElementById("popup-appointment-" + appid).classList.add("active");
        document.getElementById("popup-properties-background").style.display = "block";
        let appointment = document.getElementsByClassName("appointment");

        console.log(info.id);
    };
    function closeProperties(info, appid) {
        document.getElementById("popup-appointment-" + appid).classList.remove("active");
        document.getElementById("popup-properties-background").style.display = "none";
    };
    function deleteAppointment(id) {
        id = id.replace(/[^0-9\.]+/g, "");
        $.ajax({
            type: 'POST',
            url: "{% url 'doctorcalendar' %}",
            data: {
                csrfmiddlewaretoken: window.CSRF_TOKEN,
                'selectappointments': id
            },
            success: function(data){
                location.reload(true)
            }
        })
    }


    function isNumeric(value) {
        return /^-?\d+$/.test(value);
    }
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            timeZone: 'Europe/Warsaw',
            locale: 'pl',
            weekNumberCalculation: 'ISO',
            themeSystem: 'bootstrap',
            editable: false,

            // HEADER
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeGridDay,timeGridWeek,dayGridMonth'
            },
            buttonText: {
                today: 'Dzisiaj',
                month: 'Miesiąc',
                week: 'Tydzień',
                day: 'Dzień',
                list: 'Lista'
            },

            //MAIN
            slotMinTime: "08:00:00",
            slotMaxTime: "20:00:00",
            eventBackgroundColor: '#17a2b8',
            eventBorderColor: '#000000',
            displayEventEnd: true,
            allDaySlot: false,

            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                meridiem: false
            },
            slotLabelFormat: [{
                hour: '2-digit',
                minute: '2-digit',
                meridiem: 'short'
            }],

            events: [
                {% for appointment in appointments %} 
                    {% if user.username == appointment.doctor.username %} 
                    {
                        id: "{{ appointment.title }}",
                        title: '{{ appointment.patient.first_name }} {{ appointment.patient.last_name }} ID={{ appointment.id }}',
                        start: '{{ appointment.start_date|date:"Y-m-d\TH:i:s" }}',
                        end: '{{ appointment.end_date|date:"Y-m-d\TH:i:s" }}',
                        extendedProps: {
                        },
                        description: '{{ appointment.description }}',
                        done: '{{ appointment.done }}'
                    },
                    {% endif %} 
                {% endfor %}
            ],
            eventClassNames:function(arg) {
                if (arg.event.extendedProps.done == "btn-danger") {
                    return [ 'done-appointment' ]
                }
            },
            eventClick: function(info) {
                idAppointment = info.event.id.replace(/[^0-9\.]+/g, "");
                console.log(info.event.extendedProps.done)
                showProperties(info, idAppointment);
            },

            // FOOTER
            footerToolbar: {
                center: 'add remove',
            },
            
            customButtons: {
                add: {
                    text: 'Dodaj wizytę',
                    click: function () {
                        document.getElementsByClassName("popup-add")[0].classList.add("active");
                        document.getElementById("popup-remove-background").style.display = "block";
                    }
                },
                remove: {
                    text: 'Usuń wizytę',
                    click: function () {
                        document.getElementsByClassName("popup-remove")[0].classList.add("active");
                        document.getElementById("popup-remove-background").style.display = "block";
                    }
                }
            },
        });



        calendar.render();
    });
</script>

<script src="{% static 'js/doctorcalendar.js' %}"></script>
{% endblock %}