{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/922a5fe6ec.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/doctorappointments.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-info" id="navbar">
        <a class="navbar-brand" href="/"><i class="fas fa-user-md"></i>MeetMed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="{% url 'booking' %}">POWRÓT</a>
                <a href="{% url 'logout' %}"><button class="btn btn-light my-2 my-sm-0">Wyloguj się</button></a>
            </div>
        </div>
    </nav>
    <main>
        <div id="popup-properties-background"></div>
        <h2>WIZYTY DOKTORA - <span class="green-text">{{ doctor.first_name }} {{ doctor.last_name }}</span></h2>
        <div class="days-carousel">
            {% for day in weeks %}
                <div class="day">
                    <div class="date">
                        <h3>{{ day|date:'l' }}</h3>
                        <p>{{ day|date:'d.m.Y' }}</p>
                        <hr>
                    </div>
                    <div class="appointments">
                        {% for appointment in appointments %}
                            {% if appointment.start_date|date:'Y-m-d' == day|date:'Y-m-d' %}
                            <button id='{{ appointment.id }}' class="btn btn-info" onclick="add_note({{ appointment.id }})">
                                {{ appointment.start_date|date:'H:i' }} - {{ appointment.end_date|date:'H:i' }}
                            </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        
        <div id="popup-background"></div>
        <div class="popup-add center">
            <div class="title">
                <p><i class="fas fa-calendar-plus"></i>Czy na pewno chcesz się zapisać na tą wizytę?</p>
            </div>
            <hr>
            <div class="description-add">
                <form name="add-form" method="post">
                    {% csrf_token %}
                    <input id="inlineFormCustomSelect" name="selectappointmentnote"></input>
                    {% if not user_phone %}
                        <input class="phoneinput" name="usernewphone" placeholder="Podaj swój numer telefonu" maxlength="9" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                        </input>
                    {% else %}
                        <input class="helperinput">
                    </input>
                    
                    {% endif %}
                    <div class="form-group row">
                        <textarea name="appointment_note" cols="40" rows="6" required="" id="id_appointment_note" maxlength="480" placeholder="Opisz swój problem (maksymalnie 480 znaków)"></textarea>
                    </div>
                    <div class="buttons">
                        <button type="button" id="close-add" onclick="close_popup()">Nie</button>
                        <button type="submit" class="button add-button" name="button-add">Tak</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}    
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min' %}"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="{% static 'js/jquery.waypoints.min' %}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>
    var bookingAppointmentID = undefined
    function add_note(id) {
        bookingAppointmentID = id
        document.getElementById("inlineFormCustomSelect").value = bookingAppointmentID
        document.getElementsByClassName("popup-add")[0].classList.add("active");
        document.getElementById("popup-background").style.display = "block";
        console.log(bookingAppointmentID)
    }
    function close_popup(info, appid) {
        bookingAppointmentID = undefined
        document.getElementsByClassName("popup-add")[0].classList.remove("active");
        document.getElementById("popup-background").style.display = "none";
        console.log(bookingAppointmentID)
    }
</script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script src="{% static 'js/days-carousel.js' %}"></script>
{% endblock %}

