{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>{% block title %}MeetMed - Panel użytkownika{% endblock %}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/922a5fe6ec.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/patientappointments.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-info" id="navbar">
        <a class="navbar-brand" href="/"><i class="fas fa-user-md"></i>MeetMed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="userpanel">Panel główny</a>{% load hasgroup %}
                {% if request.user|has_group:"Doctor" %} 
                    <a class="nav-link" href="doctortoday">Dzisiejszy dzień</a>
                    <a class="nav-link" href="doctorcalendar">Kalendarz</a>
                    <a class="nav-link" href="doctorpanel">Panel lekarza</a>
                {% elif request.user|has_group:"Patient" %}
                    <a class="nav-link  cur" href="patientappointments">Moje wizyty</a>
                    <a class="nav-link" href="booking">Zapisy na wizytę</a>
                {% endif %}
                <a class="nav-link" href="settings">Ustawienia konta</a>
                <a href="{% url 'logout' %}"><button class="btn btn-light my-2 my-sm-0">Wyloguj się</button></a>
            </div>
        </div>
    </nav>
    <main>
        <div class="wrapper">
            <div class="title">
                <h1>MOJE WIZYTY</h1>
            </div>
            <div class="my-appointments">
                {% if appointments %}
                <table class="table table-hover test">
                    <thead>
                        <tr>
                            <th scope="col" class="index-row">Numer</th>
                            <th scope="col">Godzina</th>
                            <th scope="col">Data</th>
                            <th scope="col">Doktor</th>
                            <th scope="col">Twój opis</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                        {% if user.username == appointment.patient.username %}
                            <tr>
                                <th scope="row" class="index-row"></th>
                                <td class="hour">
                                    {{ appointment.start_date|date:'H:i' }} - {{ appointment.end_date|date:'H:i' }}
                                </td>
                                <td class="date">
                                    {{ appointment.start_date|date:'d.m.Y' }}
                                </td>
                                <td class="doctor">
                                    {% if appointment.doctor != None %} 
                                        {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name}} 
                                    {% else %} 
                                        Brak 
                                    {% endif %}
                                </td>
                                <td class="description">
                                    {{ appointment.description }}
                                </td>
                                <td class="done">
                                    {% if appointment.done %}
                                        <span class="greentext">ZAKOŃCZONA</span>
                                    {% else %}
                                        <span class="yellowtext">NIEROZPOCZĘTA</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="empty">Nie masz zarejestrowanych wizyt na dzisiejszy dzień.</p>
            {% endif %}
            </div>
        </div>
    </main>

    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="{% static 'js/jquery.waypoints.min' %}"></script>

    <script src="{% static 'slick/slick.min.js' %}"></script>

    <script src="{% static 'js/homecarousel.js' %}"></script>
    {% endblock %}
{% endblock %}