<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/test.css">
</head>

<body>
    <div class="popup-background">
        shfgsfhgsf
        <div class="popup center">
            <div class="icon">
                <i class="a">A</i>
            </div>
            <div class="title">
                Dodawanie
            </div>
            <div class="description">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="buttons">
                <button id="close">Zamknij</button>
                <button id="add">Dodaj wizytę</button>
            </div>
        </div>
        <div class="center">
            <a onmouseover="colorChange()" onmouseout="rever()" href="#"><button id="open">Otwórz</button></a>
        </div>
    </div>
    <script src="../../static/js/popup.js"></script>
</body>

</html>