*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

nav {
  padding-bottom: 60px;
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
}

nav a, nav i, nav .green-text {
  color: #ffffff;
  -webkit-transition: color .4s;
  transition: color .4s;
}

nav i {
  padding: 20px;
}

nav a:hover {
  color: #dbdbdb;
}

nav .navbar-brand {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

nav .cur {
  color: #dbdbdb;
}

.bg-info {
  background-color: transparent;
  background: #22a39d;
  background: -webkit-gradient(linear, left top, right top, from(#22a39d), color-stop(35%, #76e0d6), to(#168b82));
  background: linear-gradient(90deg, #22a39d 0%, #76e0d6 35%, #168b82 100%);
}

.nav-link {
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  margin-right: 5px;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper .btn-primary {
  color: #ffffff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.wrapper .fc-remove-button {
  background-color: #d60202 !important;
  border-color: #d60202 !important;
}

.wrapper .fc-view-harness {
  max-height: 650px !important;
}

.fc-scrollgrid-section-liquid tr {
  height: 6em !important;
}

.fc .fc-timegrid-slot-label {
  vertical-align: top;
}

.fc .fc-daygrid-day-top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fc-toolbar-chunk {
  padding: 0px 0px 20px 0px;
}

.fc-daygrid-event, .fc-event-main {
  cursor: pointer;
}

.done-appointment {
  text-decoration: line-through !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-add {
  width: 550px;
  height: 470px;
  padding: 30px 20px;
  border-radius: 10px;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  text-align: center;
  -webkit-box-shadow: 0px 0px 33px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 33px 2px rgba(0, 0, 0, 0.6);
  opacity: 0;
  top: -200%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.popup-add div {
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup-add.active {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19), -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup-add.active .fa-calendar-plus {
  font-size: 30px;
  color: #18c58b;
}

.popup-add.active .title {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in out 250ms;
  transition: all 300ms ease-in out 250ms;
}

.popup-add.active .title i {
  padding: 0px 20px 0px 10px;
}

.popup-add.active .description-add {
  padding-top: 10px;
  color: #222222;
  font-size: 15px;
  -webkit-transition: all 300ms ease-in out 300ms;
  transition: all 300ms ease-in out 300ms;
}

.popup-add.active .description-add .col-4 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.popup-add.active .description-add .col-8 {
  padding-left: 0px !important;
  padding-right: 20px !important;
}

.popup-add.active .description-add .buttons {
  -webkit-transition: all 300ms ease-in out 350ms;
  transition: all 300ms ease-in out 350ms;
  margin-top: 30px;
}

.popup-add.active .description-add .buttons button {
  margin: 0px 20px;
  height: 50px;
  width: 140px;
  background: #111111;
  color: #f5f5f5;
  border: none;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.popup-add.active .description-add .buttons #close-add {
  background: #bd0f0f;
}

.popup-add.active .description-add .buttons .add-button {
  background: #00ca5b;
}

.popup-add.active .description-add .buttons #close-add:hover {
  background: #690303;
}

.popup-add.active .description-add .buttons .add-button:hover {
  background: #01813b;
}

.popup-add.active div {
  top: 0px;
  opacity: 1;
}

.popup-remove {
  width: 550px;
  height: 260px;
  padding: 30px 20px;
  border-radius: 10px;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  text-align: center;
  -webkit-box-shadow: 0px 0px 33px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 33px 2px rgba(0, 0, 0, 0.6);
  opacity: 0;
  top: -200%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.popup-remove div {
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup-remove.active {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19), -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup-remove.active .fa-calendar-minus {
  font-size: 30px;
  color: #c51e18;
}

.popup-remove.active .title {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in out 250ms;
  transition: all 300ms ease-in out 250ms;
}

.popup-remove.active .title i {
  padding: 0px 20px 0px 10px;
}

.popup-remove.active .description-remove {
  padding-top: 10px;
  color: #222222;
  font-size: 15px;
  -webkit-transition: all 300ms ease-in out 300ms;
  transition: all 300ms ease-in out 300ms;
}

.popup-remove.active .description-remove .col-4 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.popup-remove.active .description-remove .col-8 {
  padding-left: 0px !important;
  padding-right: 20px !important;
}

.popup-remove.active .description-remove .buttons {
  -webkit-transition: all 300ms ease-in out 350ms;
  transition: all 300ms ease-in out 350ms;
  margin-top: 30px;
}

.popup-remove.active .description-remove .buttons button {
  margin: 0px 20px;
  height: 50px;
  width: 140px;
  background: #111111;
  color: #f5f5f5;
  border: none;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.popup-remove.active .description-remove .buttons #close-remove {
  background: #bd0f0f;
}

.popup-remove.active .description-remove .buttons .remove-button {
  background: #00ca5b;
}

.popup-remove.active .description-remove .buttons #close-remove:hover {
  background: #690303;
}

.popup-remove.active .description-remove .buttons .remove-button:hover {
  background: #01813b;
}

.popup-remove.active div {
  top: 0px;
  opacity: 1;
}

#popup-remove-background {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-properties {
  width: 700px;
  height: 540px;
  padding: 30px 20px;
  border-radius: 10px;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  text-align: center;
  -webkit-box-shadow: 0px 0px 33px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 33px 2px rgba(0, 0, 0, 0.6);
  opacity: 0;
  top: -200%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.popup-properties div {
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup-properties.active {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  transition: transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19), -webkit-transform 600ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup-properties.active .fa-calendar-alt {
  font-size: 30px;
  color: #18c5c5;
}

.popup-properties.active .title {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in out 250ms;
  transition: all 300ms ease-in out 250ms;
}

.popup-properties.active .title i {
  padding: 0px 20px 0px 10px;
}

.popup-properties.active hr {
  margin-bottom: 0px !important;
}

.popup-properties.active h1 {
  padding: 10px 0px 20px 0px;
}

.popup-properties.active span {
  font-weight: bold;
}

.popup-properties.active .description-properties {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  color: #222222;
  font-size: 15px;
  -webkit-transition: all 300ms ease-in out 300ms;
  transition: all 300ms ease-in out 300ms;
}

.popup-properties.active .description-properties .col-4 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.popup-properties.active .description-properties .col-8 {
  padding-left: 0px !important;
  padding-right: 20px !important;
}

.popup-properties.active .buttons {
  -webkit-transition: all 300ms ease-in out 350ms;
  transition: all 300ms ease-in out 350ms;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-properties.active .buttons button {
  margin: 0px 20px;
  height: 50px;
  width: 140px;
  background: #111111;
  color: #f5f5f5;
  border: none;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.popup-properties.active .buttons .close-properties {
  background: #bd0f0f;
}

.popup-properties.active .buttons .done-properties {
  background: #00ca5b;
}

.popup-properties.active .buttons .close-properties:hover {
  background: #690303;
}

.popup-properties.active .buttons .done-properties:hover {
  background: #01813b;
}

.popup-properties.active div {
  top: 0px;
  opacity: 1;
}

#popup-properties-background {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/*# sourceMappingURL=doctorcalendar.css.map */