*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

nav {
  padding-bottom: 60px;
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
}

nav a, nav i, nav .green-text {
  color: #ffffff;
  -webkit-transition: color .4s;
  transition: color .4s;
}

nav i {
  padding: 20px;
}

nav a:hover {
  color: #dbdbdb;
}

nav .navbar-brand {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

nav .cur {
  color: #dbdbdb;
}

.bg-info {
  background-color: transparent;
  background: #22a39d;
  background: -webkit-gradient(linear, left top, right top, from(#22a39d), color-stop(35%, #76e0d6), to(#168b82));
  background: linear-gradient(90deg, #22a39d 0%, #76e0d6 35%, #168b82 100%);
}

.nav-link {
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
}

.btn {
  margin-right: 5px;
}

#statistics {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#statistics .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#statistics .wrapper .rectangle {
  margin: 30px 40px;
  width: 300px;
  height: 120px;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#statistics .wrapper .rectangle .left, #statistics .wrapper .rectangle .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#statistics .wrapper .rectangle .left {
  width: 20%;
}

#statistics .wrapper .rectangle .right {
  width: 60%;
}

#statistics .wrapper .rectangle p {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
}

#statistics .wrapper .rectangle .circle {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100px;
}

#statistics .wrapper .rectangle .circle i {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#statistics .wrapper .total-today-appointments {
  background-image: -webkit-gradient(linear, left top, right top, from(#02AAB0), color-stop(51%, #749bbf), to(#749bbf));
  background-image: linear-gradient(to right, #02AAB0 0%, #749bbf 51%, #749bbf 100%);
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
}

#statistics .wrapper .total-appointments {
  background-image: -webkit-gradient(linear, left top, right top, from(#7474BF), color-stop(51%, #348AC7), to(#7474BF));
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
}

#statistics .wrapper .total-patients {
  background-image: -webkit-gradient(linear, left top, right top, from(#185a9d), color-stop(51%, #43cea2), to(#43cea2));
  background-image: linear-gradient(to right, #185a9d 0%, #43cea2 51%, #43cea2 100%);
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
}

#statistics .wrapper .total-work-hours {
  background-image: -webkit-gradient(linear, left top, right top, from(#00CDAC), color-stop(51%, #02AAB0), to(#02AAB0));
  background-image: linear-gradient(to right, #00CDAC 0%, #02AAB0 51%, #02AAB0 100%);
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
}

#statistics .wrapper .total-work-hours p {
  font-size: 14px;
}

#chart-hyperlinks {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}

#chart-hyperlinks .chart-container {
  text-align: center;
  position: relative;
  height: 55vh;
  width: 55vw;
}

#chart-hyperlinks .chart-container p {
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #219993;
}

#chart-hyperlinks #chart {
  height: 100% !important;
  width: 100% !important;
}

#chart-hyperlinks .right-panel .rectangle {
  margin-top: 40px;
  width: 320px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chart-hyperlinks .right-panel .hyp-medicines {
  background-image: -webkit-gradient(linear, left top, right top, from(#50C9C3), color-stop(51%, #96DEDA), to(#50C9C3));
  background-image: linear-gradient(to right, #50C9C3 0%, #96DEDA 51%, #50C9C3 100%);
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

#chart-hyperlinks .right-panel .hyp-printday {
  background-image: -webkit-gradient(linear, left top, right top, from(#00c6ff), color-stop(51%, #0072ff), to(#00c6ff));
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

#chart-hyperlinks .right-panel .hyp-gdziepolekweb {
  background-image: -webkit-gradient(linear, left top, right top, from(#1D976C), color-stop(51%, #93F9B9), to(#1D976C));
  background-image: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%);
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

#chart-hyperlinks .right-panel .hyp-searchpatient {
  background-image: -webkit-gradient(linear, left top, right top, from(#7e2f50), color-stop(51%, #df3232), to(#7e2f50));
  background-image: linear-gradient(to right, #7e2f50 0%, #df3232 51%, #7e2f50 100%);
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  background-size: 200% auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

#chart-hyperlinks .right-panel .hyp-medicines:hover, #chart-hyperlinks .right-panel .hyp-printday:hover, #chart-hyperlinks .right-panel .hyp-gdziepolekweb:hover, #chart-hyperlinks .right-panel .hyp-searchpatient:hover {
  background-position: right;
  color: #fff;
  text-decoration: none;
}

#chart-hyperlinks .right-panel button {
  border: none;
  background-color: transparent;
}

#chart-hyperlinks .right-panel button:focus {
  outline: 0;
}

#chart-hyperlinks .right-panel a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=doctorpanel.css.map */